.user-profile-form {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 1px solid #8c8c8c;
}
.user-profile-header{
  top: 0px;
  text-align: center;
  border: 1px solid #8c8c8c;
}