@import '../../../theme.scss';
.card-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.basket-image {
  height: 200px;
  width: 100%;
  color: #ffffff;
  background-color:rgba(35, 53, 50, 0.8);
  top: -16px;
  position: absolute;
  text-align: center;
}
.product-tags {
  color: #ffffff;
  height: 25px;
  width: 50%;
  position: absolute;
  background-color: $transparny-grey;
  padding: 5px;
  top: 149px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}