@import '../../../theme.scss';

.variants-product-measurement{
  padding: 5px 10px 10px 10px;
  color: $grey-font;
  margin: 0px;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}
.variants-price-per-unit {
  font-size: 15px;
  position: absolute; 
  right: 0;
  bottom: 45px;
  margin: 15px;
}

.variants-price{
  font-size: 25px;
  position: absolute;
  left: 0;
  bottom: 45px;
  margin: 15px;
}
select{
  background-color: $back-grand-selector;
  border: 0px solid #ffffff;
  color: $grey-font;
  text-transform: uppercase;
  margin: 15px;
  padding: 10px;
  font-size: 13px;
  font-weight: 700;
  -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; // "..." den doulevi mesa sto chorme 
  text-align: left;
  padding-right: 55px;
  background-image: url('../../../support/icons/chevron.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
}
.select-conten {
  width: 100%;
  text-overflow: ellipsis; // "..." den doulevi mesa sto chorme 
  white-space: nowrap;
  overflow: hidden;
}
select:hover {
  cursor: pointer;
}
.variants-opotions {
  color: $grey-font;
  font-size: 13px;
  font-weight: 700;
}
.variants-price-seles {
  font-size: 20px;
  position: absolute;
  left: 0;
  bottom: 45px;
  margin: 15px;
  color: #d43535;
}
.variants-text-seles {
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom: 95px;
  margin: 15px;
  color: #d43535;
}

.variants-price-seles-off {
  font-size: 15px;
  position: absolute;
  left: 0;
  bottom: 70px;
  margin: 15px;
  color: black;
  text-decoration: line-through;
}

